$btn-font-weight: 600;
$animation-display: .2s ease-in;
$btn-padding-y:               14px;
$btn-padding-x:               16px;
$btn-border-radius: 3px;
$btn-font-size: 16px;

.btn-more{
  color: #e6e6e6;;
  text-decoration: none;
  &:hover{
    color: #fff;
  }
  i{
    margin-left: 5px;
    transition: $animation-display;
  }
}

button{
    background-color: transparent;
    border: none;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    padding: 0;
}

.play-btn{
  position: absolute;
  z-index: 2;
  border-radius: 50%;
  font-size: 3rem;
  padding: 1rem 2rem;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  cursor: pointer;
  transition: $animation-display ;
  color: #ffffff;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  &:hover{
    color: $primary;
  }
}

.video-btn{
  transition: $animation-display;
  color: #14141F;
  background: #d9d9d9;
  border-radius: 4px;
  padding: 7px 14px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 16px;
  text-decoration: none;
  &:hover{
    background: $primary;
    color: black;

  }
}

.read-btn{
  background: #334155 ;
  border-radius: 50px;
  padding: 8px;
  font-size: 14px !important;
  width: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  font-weight: 600;
  vertical-align: top;
  text-decoration: none;
  i{
    font-size: .7em;
    vertical-align: middle;
  }

  &:hover{
    background: #42546e;
  }
}

.btn-large{
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  @include lg{
    width: 350px;
  }
}

.border-sober{
    border: 3px solid rgba(255, 255, 255, 0.6);
    font-weight: bolder;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    transition: .2s;
    i{
        color: rgba(255, 255, 255, 0.6);
    }
    &:hover{
        color: var(--avatar-color);
    }
}

.category-btn{
    padding: .35rem .5rem;
    color: #FFFFFF;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 80px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 2px;

    @include lg{
        font-size: 14px;
        letter-spacing: 2px;
        padding: .7rem 1rem;
    }

}
.active-category{
    background: white;
    color: $dark;
}


.btn-continue-teszt{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: $btn-border-radius;
    padding:  $btn-padding-y $btn-padding-x;
    border: 1px solid $primary;
    width: 100%;
    position: relative;
    z-index: 10;
    color: rgb(255, 255, 255);
    font-weight: 800;
    &:hover{
        color: $light;
    }

    &:before{
        position: absolute;
        content: '';
        left: 0;
        bottom: 0;
        height: 100%;
        width: 50%;
        background: $primary;
        z-index: -1;
        pointer-events: none;
    }

}

%btn-program{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: $btn-border-radius;
    padding:  $btn-padding-y $btn-padding-x;
    width: 100%;
    position: relative;
    z-index: 10;
    color: rgb(255, 255, 255);
    font-weight: 800;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    transition: 0.5s;
    backdrop-filter: blur(15px);
    overflow: hidden;

    &:hover{
        color: $light;
    }

    &:before{
        position: absolute;
        content: '';
        left: 0;
        bottom: -15px;
        height: 200%;
        width:  calc(33% - 5px);
        background: #0987CA;
        z-index: -1;
        pointer-events: none;
        filter: blur(10px);
    }


}

.btn-continue{
    @extend %btn-program;

    &:before{
        width: 0;
    }
    &:hover{
        background: $primary;
        color: $dark;
    }
}

.btn-continue-x{
    @extend %btn-program;
    color: $light;
    &:before{
        background: white;
        width:  var(--after-bg-0);
    }
    &:hover{
        background: rgba(255, 255, 255, 30%);
        color: $dark;
    }
}
.btn-continue-f{
   @extend %btn-program;

    &:before{
        width:  var(--after-bg-1);
    }
    &:hover{
        background: rgba(8, 134, 201, 0.3);
        color: white;
    }

}

.btn-continue-o{
    @extend %btn-program;

    &:before{
        background: $primary;
        width:  var(--after-bg-2);
    }
    &:hover{
        background: rgba(35, 219, 121, 0.3);
        color: white;
    }

}

.btn-continue-v{
    @extend %btn-program;

    &:hover{
        background: rgba(255, 55, 0, 0.3);
        color: white;
    }

    &:before{
        background: #FF3900;
        width:  var(--after-bg-3);
    }

}


