$form-floating-padding-y: .7rem;
$form-select-padding-y: .7rem;
$form-floating-label-opacity:  .65;
$form-floating-label-disabled-color:    $gray-800;
$input-bg: $gray-800;
$input-disabled-border-color: transparent;
$list-group-color:                  white;
$form-select-color:                 white;
$list-group-bg:                     $dark;

/*switch*/
.switch-button-box{
    width: 150px;
    display: flex;
    border: 2px solid $primary;
    border-radius: 50px;
    padding: 2px;
    transition: .2s;
    .toggle-btn{
        transition: .2s;
        height: 2rem;
        width: 50%;
        border-radius: 50px;
        font-weight: 700;
    }

}
.active-toggle{
    background: $primary;
    color: $dark;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-transition: color 500ms ease-out, background-color 500ms ease-out;
    transition: color 500ms ease-out, background-color 500ms ease-out;
    -webkit-text-fill-color: #ffffff; /* A szöveg színe */
    -webkit-box-shadow: 0 0 0 1000px $gray-800 inset; /* A háttérszín */
}

/* A mező körvonalának formázása a kiválasztásnál */
input:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}

.bg-dark{
    input[type="password"] {
        color: #ffffff; /* Szöveg szín */
    }


    .form-control{
        color: #FFFFFF;
        border: none;
        border-radius: 8px !important;
        &:active{
            color: #FFFFFF;
            border: none;
            border-radius: 8px !important;
        }
        &:focus{
            color: #FFFFFF;
            border: none;
            border-radius: 8px !important;
        }
        &::placeholder{
            color: #999999;
        }
    }

    .input-group-text{
        border: none;
    }

}

.inside-header{
    .search-container{
        display: none;
        @include lg{
            display: block;
        }
    }

}

.mobil-search-container{
        .results{
            @include lg{
                display: none;
            }
        }
}
.inside-header{
    .results{
        display: none;
        @include lg{
            display: block;
        }
    }
}


.search-container{
    width: 100%;
    position: relative;
    @include lg{
        width: 350px;
    }
    @include xl{
        width: 500px;
    }
    @include xxl{
        width: 600px;
    }

    form{
        width: 100%;
        input{
            width: 100%;
        }
    }

    .results{
        width: 100%;
        position: absolute;
        z-index: 151;
        top: 40px;
        left: 0;
        a{
            display: block;
            text-decoration: none;
            font-size: 14px;
        }
    }
}

.task-check{
    label{
        cursor: pointer;
        width: 100%;

        input[type="checkbox"]{
            display: none;
        }
        input[type="checkbox"]:checked ~ span{
            background: $primary;
            color: $dark;
        }
        span{
            position: relative;
            display: inline-block;
            background: rgba(255,255,255, .3);
            padding: .5rem 1rem;
            @include lg{
                padding: 1rem 2rem;
            }
            color: white;
            border-radius: 50px;
            width: 100%;
            transition: .2s;
            user-select: none;
            overflow: hidden;
            font-weight: 700;

            &:before{
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 50%;
                background: rgba(255,255,255, .1);
            }
        }
    }
}


