.sidebar{
    .nav-link{
        &:hover{
            background:  #1d2e57;
        }

      .icon-container{
          width: 18px;
          height: 18px;
          display: inline-block;
          margin-right: 8px;
      }
    }

    .active{
            color: $dark !important;
    }
}
.offcanvas{
    z-index: 4000 !important;
}

.mobil-search-container{
    @include lg{
        display: none;
    }
}

